In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
sk_less5 = pd.read_csv('Lessthan_5_victim_count.csv')
sk_5to14 = pd.read_csv('5_to_14_victim_count.csv')
sk_15to30 = pd.read_csv('15_to_30_victim_count.csv')
sk_highest = pd.read_csv('Highest_victim_count.csv')
sk = pd.concat([sk_less5,sk_5to14,sk_15to30,sk_highest], axis = 0)
sk.reset_index(drop=True, inplace=True)

In [3]:
sk.sample(n=5)
# Looks like everything is fine

,Name,Country,Years active,Proven victims,Possible victims,Notes
108,Lonnie David Franklin Jr.,United States,1985 to 2007,10,25,"Known as the ""Grim Sleeper"" for the alleged 14..."
157,Manuel Delgado Villegas,Spain\r\nFrance (claimed)\r\nItaly (claimed),1964 to 1971,7,48,"Wandering criminal known as El Arropiero (""The..."
109,Sergey Cherny,Russia,1999,10,11,Strangled women around Smolensk; suspected of ...
56,Vasiliy Kulik,Soviet Union,1984 to 1986,13,NaN,Known as the Irkutsk Monster; killed at least ...
88,Clifford Olson,Canada,1980 to 1981,11,NaN,"Considered a dangerous offender, meaning that ..."

In [4]:
sk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              305 non-null    object
 1   Country           305 non-null    object
 2   Years active      305 non-null    object
 3   Proven victims    305 non-null    object
 4   Possible victims  237 non-null    object
 5   Notes             305 non-null    object
dtypes: object(6)
memory usage: 14.4+ KB

Dado que todos las columnas son de tipo object voy a ver cuáles son los valores únicos para cada columna.

### Country

In [5]:
sk.Country.unique()

array(['United States',
       'United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)',
       'Austria', 'Italy', 'Indonesia', 'Soviet Union', 'United Kingdom',
       'Mexico', 'Allied-occupied Germany\r\nWest Germany', 'Netherlands',
       'Japan', 'Turkey', 'Poland', 'West Germany', 'Brazil', 'Chile',
       'Russia', 'South Korea', 'Pakistan', 'Latvia', 'South Africa',
       'Argentina', 'Soviet Union\r\nRussia', 'Tunisia', 'Germany',
       'Thailand\r\nNepal\r\nIndia\r\nMalaysia', 'Yemen', 'Spain',
       'Australia', 'China', 'Austria\r\nUnited States\r\nCzechoslovakia',
       'Canada', 'France', 'Bangladesh', 'Belgium', 'Ukraine', 'India',
       'Soviet Union\r\nRussia\r\nUkraine',
       'East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)',
       'German Empire\r\nGermany', 'Denmark', 'China\r\nJapan',
       'Spain\r\nFrance (claimed)\r\nItaly (claimed)',
       'Canada\r\nUnited States', 'Colombia', 'Cyprus', 'Belarus',
       'Costa Rica', 'United States\r\n Portuguese Angola',
       'Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)',
       'Czechoslovakia', 'Singapore', 'Swaziland', 'Greece',
       'Austria-Hungary', 'Iran',
       'France\r\nGermany (suspected)\r\nSwitzerland (suspected)',
       'Ecuador', 'United States\r\nCanada',
       'Soviet Union\r\nRussia\r\nTajikistan', 'Romania', 'Afghanistan',
       'Peru', 'France\r\nBelgium', 'Venezuela',
       'United States\r\nMexico', 'Colombia\r\nEcuador\r\nVenezuela',
       'Colombia\r\nPeru\r\nEcuador',
       'Colombia\r\nEcuador\r\nBrazil (alleged)',
       'Soviet Union\r\nUkraine', 'Morocco',
       'Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)',
       'Ottoman Empire\r\n Iraq\r\n Iran', 'Egypt'], dtype=object)

In [6]:
sk['Countries_active'] = sk.Country.apply(lambda x: x.split('\r\n'))

In [7]:
sk['Countries_num'] = sk['Countries_active'].apply(lambda x: len(x))

In [8]:
sk.head()

,Name,Country,Years active,Proven victims,Possible victims,Notes,Countries_active,Countries_num
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,[United States],1
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...","[United Kingdom, Ireland (suspected), West Ger...",5
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",[Austria],1
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,[Italy],1
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,[Indonesia],1

### Proven victims

In [9]:
sk['Proven victims'].unique()

array([4, 3, '14', '13', '12', '11–16', '11', '10', '9–13', '9', '8',
       '8–15', '8–11+', '7', '6', '5', 30, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 138, 110, 100, 83, 72, 71, 70, 67, 60, 58,
       53, 52, 50, 49, 48, 45, 42, 41, 39, 38, 36, 35, 33, 32],
      dtype=object)

In [10]:
sk[(sk['Proven victims'] == '11–16') | (sk['Proven victims'] == '9–13') | (sk['Proven victims'] == '8–15') | (sk['Proven victims'] == '8–11+')]

,Name,Country,Years active,Proven victims,Possible victims,Notes,Countries_active,Countries_num
79,Herb Baumeister,United States,1990 to 1996,11–16,25+,Strangled gay men and buried their bodies in h...,[United States],1
126,Volker Eckert,East Germany\r\nGermany\r\nFrance\r\nSpain\r\n...,1974 to 2006,9–13,19+,German trucker who confessed to having abducte...,"[East Germany, Germany, France, Spain, Czech R...",6
144,Joseph Paul Franklin,United States,1977 to 1980,8–15,20,White supremacist shooter who confessed to 20 ...,[United States],1
145,Yoshio Kodaira,China\r\nJapan,1928? to 1946,8–11+,Unknown,"A serial rapist, Kodaira killed his father-in-...","[China, Japan]",2

In [11]:
sk['Proven_victims'] = sk['Proven victims'].apply(lambda x: max([int(i) for i in str(re.sub('\+$', '', str(x))).split('–')]))

### Possible victims

In [12]:
sk['Possible victims'].unique()

array(['29', '18+', '18', '16', '14', '13', '12', '11+', '4+', '4', '3',
       '50+', '48', '30', '20+', '17', '10', '9–25', '-', '9-100+', '8+',
       '3+', '80+', '21+', nan, '44', '40+', '38+', '20', '16+', '15',
       '13+', '100', '31–80+', '22', '15–16', 'Unknown', '25+', '29–49',
       '17–20', '25', '11', '10+', '19+', '79', '34', '14+', '160',
       '130+', '12+', '50–100', '43+', '23–37', '7', '70?', '15+', '6+',
       '85–100', '37', '17–25', '5–22', '42+', '42', '45', '28', '35+',
       '27+', '26', '24+', '24', '150', '23+', '23', '36+', '26+', '21',
       '82+', '30+', '19', '65–67', '172–300+', '300+', '83+', '180',
       '100+', '70+', '67', '93', '80-300', '56', '52+', '50', '49',
       '71–90+', '60', '60+', '70–80+', '41', '~39', '76', '80–100',
       '43–55+', '~35', '36–100+', '35', '34+', '33', '32+', '32'],
      dtype=object)

In [13]:
sk['Possible victims'] = sk['Possible victims'].apply(lambda x: np.nan if ((x == 'Unknown') | (x== '-')) else x)

In [14]:
sk['Possible_victims'] = sk['Possible victims'].apply(lambda x: x if pd.isna(x) else 
                                                      str(re.sub('\+$|^\~|\?', '', str(x))))

In [15]:
sk['Possible_victims'] = sk['Possible_victims'].apply(lambda x: x if pd.isna(x) else 
                             sum([int(i) for i in re.split('–|-',str(x))])/len(str(re.sub('\+$', '', str(x))).split('–'))).round(0)

In [16]:
sk.head()

,Name,Country,Years active,Proven victims,Possible victims,Notes,Countries_active,Countries_num,Proven_victims,Possible_victims
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,[United States],1,4,29.0
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...","[United Kingdom, Ireland (suspected), West Ger...",5,4,18.0
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",[Austria],1,4,18.0
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,[Italy],1,4,16.0
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,[Indonesia],1,4,14.0

### Years active

In [17]:
sk['Years active'] = sk['Years active'].apply(lambda x: re.sub('\?|c\.','',str(x)))

In [19]:
sk['Years active'].unique()

array(['1971 to 2004', '1981 to 1986', '1946 to 1958', '1949 and earlier',
       '1993 to 2010', '1985 to 1986', '1912 and earlier', '1999',
       '2014 to 2015', '1974 to 1978', '1960 to 1964', '1978 to 1996',
       '1989 to 1990', '1991 to 2006', '1986', '1986 to 1987',
       '1909 to 1928', '1947 to 1952', '2009 to 2010', '1979 to 1980',
       '2007 to 2013', '1982 to 1988', '1973 to 1975', '1939 to 1940',
       '2008', '1924 to 1932', '1990 to 1996', '1995', '1974 to 1982',
       '1945 to 1946', '1964 to 1970', '1968 to 1985', '1955 to 1976',
       '1972 to 1989', '1974 to 1975', '1991', '1998 to 2001',
       '1995 to 1999', '2002 to 2004', '2004 to 2006', '2005',
       '1930s to 1947', '1900 to 1908', '1934 to 1938', '2003',
       '1984 to 1985', '1990s to 2007', '1975 to 1980', '1995 to 2015',
       '1972 to 1973', '1962 to 1964', '1977 to 1993', '1979 to 1986',
       '1978 to 1981', '1984 to 1986', '1987 to 2002', '2002 to 2003',
       '1982 to 1989', '1990 to 2006', '2007', '2007 to 2008',
       '1980s to 1988', '1908 to 1935', '1953 to 1982', '1986 to 1992',
       '1991 to 2005', '2000 to 2002', '1978 to 1983', '1977 to 1978',
       '1975 to 1976', '1990 to 1998', '1975', '1998 to 2003',
       '1980 to 1981', '1985', '1900 to 1912', '1992 to 1999',
       'late 1990s to 2006', '2008 to 2012', '1974 to 1992',
       '1964 to 1975', '1991 to 1992', '1927 to 1954', '1915 to 1919',
       '2003 to 2005', '2007 to 2009', '1993 to 1999', '1987 to 1994',
       '1971', '1992 to 1995', '1938 to 1942', '2008 and earlier',
       '1997 to 1998', '1998 to 2002', '1933 to 1936', '2000 to 2003',
       '1946 to 1947', '1983', '1996 to 2011', '1985 to 2007', '1984',
       '1990 to 1997', '2004 to 2008', '1964 to 1973', '1974 to 2004',
       '1997 to present', '1905 to 1908', '1990 to 1994', '1977 to 1979',
       '1995 to 1998', '2004 to 2012', '2006 to 2008', '1996 to 1998',
       '1980 to 1982', '1974 to 2006', '1986 to 1989', '1913 to 1930',
       '1986 to 1994', '1984 to 1992', '1989 to 1993', '1913 to 1920',
       '1966 to 1992', '1981 to 1996', '1958 to 1983', '2009 to 2012',
       '1988 to 1989', '2015 to 2016', '1996 to 2000', '2000s',
       '1958 to 1963', '1977 to 1980', '1928 to 1946', '1990 to 1995',
       '1971 to 1979', '1982 to 1983', '1980 to 1988', '1918 to 1919',
       '1965 to 1987', '2010 to 2017', '2007 to 2018', '1980 and earlier',
       '1964 to 1971', '1991 to 1999', '1990s', '1980s to 2010s',
       '1979 to 1981', '1997', '1960 to 1980', '2003 to 2016',
       '1981 to 2004', '2002', '2002 to 2018', '2016 to 2018',
       '1976 to 1977', '1980 to 1999', '1950s', '2005 to 2006',
       '1990s to 2015', '1986 to 1990', '2000 to 2006', '1977 to 1994',
       '1978 to 2002', '1962 to 1977', '1957 to 2009', '1915 to 1929',
       '2006', '1981 to 1987', '1948 to 1951', '1989 to 1992',
       '1976 to 1996', '30 June 1983 to 23 July 1983', '1900 to 1924',
       '1989 to 2003', '2010 to 2013', '2000 to 2001', '1993 to 2000',
       '1996 to 1997', '1939 to 1951', '1973 to 1979', '1985 to 1989',
       '1918 to 1924', '1912 to 1916', '1981 to 1985', '1989 to 2006',
       '1997 to 2006', '1926 to 1927', '1977 to 1995', '1999 to 2003',
       '1965 to 1977', '1917 to 1935', '2003 to 2004', '1880 to 1908',
       '1960s to 1970s', '2007 to 2012', '2005 to 2009', '1991 to 1996',
       '1982 to 1984', '1986 to 1996', '1988 to 1993', '1998 to 2006',
       '2008 to 2011', '1920 to 1926', '1998', '1994 to 2002', '1974',
       '1984 to 1987', '1996 to 2002', '1994 to 1995', '2001',
       '2001 to 2003', '2004', '1992 to 2002', '2002 to 2010',
       '1971 to 1983', '1987 to 2001', '1978 to 1991', '1987 to 1988',
       '2008 to 2009', '1975 to 1998', '1948 to 1980', '1969 to 1982',
       '1974 to 1987', '1997 to 1999', '2008 to 2015', '1911',
       '1980 to 1983', '1986 to 1999', '1987 to 1998', '1950s to 1956',
       '1983 to 1997', '1978 to 2001', '1933 to 1935', '1969 to 1979',
       '1998 to 1999', '1992 to 2010', '1974 to 1986', '1967 to 2003',
       '1970 to 2005', '1981 to 1983', '1978 to 1990', '1989 to 1996',
       '1934 to 1935', '1982', '1983 to 2002', '1982 to 2000',
       '1992 to 2006', '1995 to 2003', '1986 to 1997', '1965 to 1968',
       '2011 to 2014', '1984 to 2005', '1971 to 1985', '1906 and earlier',
       '1920 to 1930', '1972 to 1978', '1907 to 1934', '1921 to 1923',
       '1982 to 1999', '1999 to 2006', '2011 to 2012'], dtype=object)

In [18]:
x = '1990s'
print(int(re.sub('s$','',x)),' to ', int(re.sub('s$','',x))+9)

1990  to  1999