In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
sk_less5 = pd.read_csv('Lessthan_5_victim_count.csv')
sk_5to14 = pd.read_csv('5_to_14_victim_count.csv')
sk_15to30 = pd.read_csv('15_to_30_victim_count.csv')
sk_highest = pd.read_csv('Highest_victim_count.csv')
sk = pd.concat([sk_less5,sk_5to14,sk_15to30,sk_highest], axis = 0)
sk.reset_index(drop=True, inplace=True)

In [3]:
sk.sample(n=5)
# Looks like everything is fine

,Name,Country,Years active,Proven victims,Possible victims,Notes
47,Sleepy Hollow Killer,South Africa,1990s to 2007,13,16+,"Raped and murdered women, mostly sex workers, ..."
112,David Randitsheni,South Africa,2004 to 2008,10,10+,"Kidnapped 19 people, raped 17, and murdered 10..."
283,Ivan Maleshoff,Soviet Union,1934 to 1935,50,50,"Known as, ""Bluebeard of Kharkiv""; Ivan Stepano..."
198,Cedric Maake,South Africa,1996 to 1997,27,35+,"Known as the ""Wemmer Pan Killer"" and ""Hammer K..."
147,Rodney Alcala,United States,1971 to 1979,8,130+,"Known as the ""Dating Game Killer"" for appearin..."

In [4]:
sk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              305 non-null    object
 1   Country           305 non-null    object
 2   Years active      305 non-null    object
 3   Proven victims    305 non-null    object
 4   Possible victims  237 non-null    object
 5   Notes             305 non-null    object
dtypes: object(6)
memory usage: 14.4+ KB

Dado que todos las columnas son de tipo object voy a ver cuáles son los valores únicos para cada columna.

### Country

In [5]:
sk.Country.unique()

array(['United States',
       'United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)',
       'Austria', 'Italy', 'Indonesia', 'Soviet Union', 'United Kingdom',
       'Mexico', 'Allied-occupied Germany\r\nWest Germany', 'Netherlands',
       'Japan', 'Turkey', 'Poland', 'West Germany', 'Brazil', 'Chile',
       'Russia', 'South Korea', 'Pakistan', 'Latvia', 'South Africa',
       'Argentina', 'Soviet Union\r\nRussia', 'Tunisia', 'Germany',
       'Thailand\r\nNepal\r\nIndia\r\nMalaysia', 'Yemen', 'Spain',
       'Australia', 'China', 'Austria\r\nUnited States\r\nCzechoslovakia',
       'Canada', 'France', 'Bangladesh', 'Belgium', 'Ukraine', 'India',
       'Soviet Union\r\nRussia\r\nUkraine',
       'East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)',
       'German Empire\r\nGermany', 'Denmark', 'China\r\nJapan',
       'Spain\r\nFrance (claimed)\r\nItaly (claimed)',
       'Canada\r\nUnited States', 'Colombia', 'Cyprus', 'Belarus',
       'Costa Rica', 'United States\r\n Portuguese Angola',
       'Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)',
       'Czechoslovakia', 'Singapore', 'Swaziland', 'Greece',
       'Austria-Hungary', 'Iran',
       'France\r\nGermany (suspected)\r\nSwitzerland (suspected)',
       'Ecuador', 'United States\r\nCanada',
       'Soviet Union\r\nRussia\r\nTajikistan', 'Romania', 'Afghanistan',
       'Peru', 'France\r\nBelgium', 'Venezuela',
       'United States\r\nMexico', 'Colombia\r\nEcuador\r\nVenezuela',
       'Colombia\r\nPeru\r\nEcuador',
       'Colombia\r\nEcuador\r\nBrazil (alleged)',
       'Soviet Union\r\nUkraine', 'Morocco',
       'Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)',
       'Ottoman Empire\r\n Iraq\r\n Iran', 'Egypt'], dtype=object)

In [6]:
sk['Countries_active'] = sk.Country.apply(lambda x: x.split('\r\n'))

In [7]:
sk['Countries_num'] = sk['Countries_active'].apply(lambda x: len(x))

In [8]:
sk.head()

,Name,Country,Years active,Proven victims,Possible victims,Notes,Countries_active,Countries_num
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,[United States],1
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...","[United Kingdom, Ireland (suspected), West Ger...",5
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",[Austria],1
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,[Italy],1
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,[Indonesia],1

### Proven victims

In [9]:
sk['Proven victims'].unique()

array([4, 3, '14', '13', '12', '11–16', '11', '10', '9–13', '9', '8',
       '8–15', '8–11+', '7', '6', '5', 30, 28, 27, 26, 25, 24, 23, 22, 21,
       20, 19, 18, 17, 16, 15, 138, 110, 100, 83, 72, 71, 70, 67, 60, 58,
       53, 52, 50, 49, 48, 45, 42, 41, 39, 38, 36, 35, 33, 32],
      dtype=object)

In [10]:
sk[(sk['Proven victims'] == '11–16') | (sk['Proven victims'] == '9–13') | (sk['Proven victims'] == '8–15') | (sk['Proven victims'] == '8–11+')]

,Name,Country,Years active,Proven victims,Possible victims,Notes,Countries_active,Countries_num
79,Herb Baumeister,United States,1990 to 1996,11–16,25+,Strangled gay men and buried their bodies in h...,[United States],1
126,Volker Eckert,East Germany\r\nGermany\r\nFrance\r\nSpain\r\n...,1974 to 2006,9–13,19+,German trucker who confessed to having abducte...,"[East Germany, Germany, France, Spain, Czech R...",6
144,Joseph Paul Franklin,United States,1977 to 1980,8–15,20,White supremacist shooter who confessed to 20 ...,[United States],1
145,Yoshio Kodaira,China\r\nJapan,1928? to 1946,8–11+,Unknown,"A serial rapist, Kodaira killed his father-in-...","[China, Japan]",2

In [11]:
sk['Proven_victims'] = sk['Proven victims'].apply(lambda x: max([int(i) for i in str(re.sub('\+$', '', str(x))).split('–')]))

### Possible victims

In [12]:
sk['Possible victims'].unique()

array(['29', '18+', '18', '16', '14', '13', '12', '11+', '4+', '4', '3',
       '50+', '48', '30', '20+', '17', '10', '9–25', '-', '9-100+', '8+',
       '3+', '80+', '21+', nan, '44', '40+', '38+', '20', '16+', '15',
       '13+', '100', '31–80+', '22', '15–16', 'Unknown', '25+', '29–49',
       '17–20', '25', '11', '10+', '19+', '79', '34', '14+', '160',
       '130+', '12+', '50–100', '43+', '23–37', '7', '70?', '15+', '6+',
       '85–100', '37', '17–25', '5–22', '42+', '42', '45', '28', '35+',
       '27+', '26', '24+', '24', '150', '23+', '23', '36+', '26+', '21',
       '82+', '30+', '19', '65–67', '172–300+', '300+', '83+', '180',
       '100+', '70+', '67', '93', '80-300', '56', '52+', '50', '49',
       '71–90+', '60', '60+', '70–80+', '41', '~39', '76', '80–100',
       '43–55+', '~35', '36–100+', '35', '34+', '33', '32+', '32'],
      dtype=object)

In [13]:
sk['Possible victims'] = sk['Possible victims'].apply(lambda x: np.nan if ((x == 'Unknown') | (x== '-')) else x)

In [14]:
sk['Possible_victims'] = sk['Possible victims'].apply(lambda x: x if pd.isna(x) else 
                                                      str(re.sub('\+$|^\~|\?', '', str(x))))

In [15]:
sk['Possible_victims'] = sk['Possible_victims'].apply(lambda x: x if pd.isna(x) else 
                             sum([int(i) for i in re.split('–|-',str(x))])/len(str(re.sub('\+$', '', str(x))).split('–'))).round(0)

In [16]:
sk.head()

,Name,Country,Years active,Proven victims,Possible victims,Notes,Countries_active,Countries_num,Proven_victims,Possible_victims
0,Charlie Brandt,United States,1971 to 2004,4,29,Committed suicide by hanging after murdering h...,[United States],1,4,29.0
1,Robert Black,United Kingdom\r\nIreland (suspected)\r\nWest ...,1981 to 1986,4,18+,"Convicted of kidnapping, raping and murdering ...","[United Kingdom, Ireland (suspected), West Ger...",5,4,18.0
2,Max Gufler,Austria,1946 to 1958,4,18,"Poisoned and drowned four women, but suspected...",[Austria],1,4,18.0
3,Ernesto Picchioni,Italy,1949 and earlier,4,16,Murdered people who approached his home; died ...,[Italy],1,4,16.0
4,Baekuni,Indonesia,1993 to 2010,4,14,Pedophile who raped and killed young boys; ini...,[Indonesia],1,4,14.0

### Years active

In [17]:
sk['Years active'] = sk['Years active'].apply(lambda x: re.sub('\?|c\.','',str(x)))

In [30]:
x = '1990s'
print(int(re.sub('s$','',x)),' to ', int(re.sub('s$','',x))+9)

1990  to  1999